.App {
    text-align: center;
    background-color: #282c34;
    min-height: 100vh;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 10vmin;
    pointer-events: none;
}

.App-header {
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.Menu {
    text-align: center;
    background-color: #adadad;
    margin-left: 10vh;
    margin-right: 10vh;
    padding: 1vh;
    border-radius: 5px;
}
.CategoryView {
    display: inline-block;
    border: 2px solid black;
    height: 4vh;
    width: 25vh;
    border-radius: 5px;
    background-color: #adadad;
    margin: 1vh;
}
.SetDefaultButton{
    border: 2px solid black;
    border-radius: 2px;
    margin: 1vh;
}
.ProductView {
    display: inline-block;
    border: 2px solid black;
    height: 20vh;
    width: 20vh;
    border-radius: 5px;
    background-color: #adadad;
    margin: 1vh;
}
.MainFrame {
    background-color: #bcbcbc;
    margin-right: 10vh;
    margin-left: 10vh;
    margin-top: 1vh;
}
.ProductList {
    vertical-align: top;
    padding-top: 2vh;
}
.Cart {
    text-align: left;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #669966;
    min-width: 25vh;
    min-height: 35vh;
    margin: 1vh;
    padding: 1vh;
}
.Numbers{
    text-align: right;
}
